\#*
*.aux
*.cp
*.cps
*.dvi
*.exe
*.fn
*.fns
*.html
*.go
*.info
*.info-[0-9]*
*.ky
*.la
*.lo
*.o
*.out
*.pdf
*.pg
*.pgs
*.rn
*.rns
*.stackdump
*.gz
*.tar.gz.*
*.toc
*.tp
*.tps
*.vr
*.vrs
*~
.#*
gucu-[0-9]*
guile-ncurses-shell
guile-ncurses-shell.exe
gendocs*
ftp-upload*
gnuload
CVS
guile-ncurses.txt

# autotools
aclocal.m4
config.h.in
.deps
.dirstamp
.libs
ABOUT-NLS
GNUmakefile
INSTALL
Makefile
Makefile.in
TAGS
ar-lib
autom4te.cache
cfg.mk
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
maint.mk
mdate-sh
missing
stamp-h1
stamp-vti
test-driver
texinfo.tex
uninstalled-env
version.texi

# from automake tests
*.trs
*.log
